# =============================================================================
# .env.example - Variables del laboratorio wired-lab
# =============================================================================
# Copiar a .env y ajustar valores si es necesario:
# =============================================================================

# Red del laboratorio
LAB_NETWORK=wired-net
LAB_SUBNET=10.99.0.0/24
LAB_GATEWAY=10.99.0.1

# IPs estáticas
ATTACKER_IP=10.99.0.10
DVWA_IP=10.99.0.20
JUICE_SHOP_IP=10.99.0.30
METASPLOITABLE_IP=10.99.0.40
SAMBA_IP=10.99.0.50

# Puertos expuestos al host
DVWA_HOST_PORT=8080
JUICE_SHOP_HOST_PORT=3000

# Puertos internos del atacante (reservados)
MSF_LISTENER_PORT=4444
C2_LISTENER_PORT=1337

# Imágenes
DVWA_IMAGE=docker.io/citizenstig/dvwa
JUICE_SHOP_IMAGE=docker.io/bkimminich/juice-shop
METASPLOITABLE_IMAGE=docker.io/tleemcjr/metasploitable2
SAMBA_IMAGE=docker.io/dperson/samba

#Configuración atacante
NVIM_CONFIG_PATH=/home/USUARIO/.config/nvim

